@using PagedList.Mvc;
@model PagedList.IPagedList<ParmezaniUniversidade.Models.Aluno>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index","Aluno", FormMethod.Get))
{
    <p>
        Procura por Nome : @Html.TextBox("SearchString")
        <input type="submit" value="Busca" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("SobreNome", "Index", new { sortOrder = ViewBag.NomeParam })
        </th>
        <th>
            Nome
        </th>
        <th>
            @Html.ActionLink("Data de Inscricao", "Index", new { sortOrder = ViewBag.DateParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInscricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
